.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .containerHeader {
        width: 100%;
        margin-bottom: 20px;
        h1 {
            font-size: 25px;
            margin-bottom: 20px;
            font-weight: normal;
        }
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .inputDefault {
            width: 45%;
            height: 40px;
            margin-bottom: 30px;
            text-align: left;
            input, textarea {
                width: 100%;
                padding: 10px;
                border: 2px solid #3f51b5;
                border-radius: 10px;
                outline: none;
            }
            span {
                color: red;
                font-size: 12px;
            }
            .optionalField {
                color: inherit;
                font-style: italic;
            }
            .error{
                border: 2px solid red;
            }
        }

        .inputMessage {
            width: 95%;
            height: auto;

            textarea {
                font-family: Arial, Helvetica, sans-serif;
                height: 100px;
            }
        }

        .buttons {
            width: 95%;
            display: flex;
            justify-content: space-between;

            .submitButton, .cancelButton {
                cursor: pointer;
                padding: 10px 20px;
                border: 2px solid #3f51b5;
                border-radius: 20px;
                background: #3f51b5;
                color: white;
                font-weight: 700;
                &:hover {
                    background: #303e8d;
                    border: 2px solid #303e8d;;
                }
            }
            .cancelButton {
                border: 2px solid #3f51b5;
                background: white;
                color: black;
                &:hover{
                    background: rgb(241, 238, 238);
                    border: 2px solid #303e8d;
                }
            }
        }
        textarea {
            resize: none;
        }
    }
}

@media (max-width: 630px) {
    .container {
        .form {
            flex-direction: column;
            border: none;
            padding: 10px;
            width: 100%;
            .inputDefault {
                width: 100%;
            }
            .buttons {
                width: 100%;
            }
        }
    }
}