.container {
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
    .loaderContainer{
        width: 100%;
        align-self: center;
    }
}

@media (max-width: 630px) {
    .container {
        flex-direction: column;
    }
}